/* cude loader */
.scene {
    height: 160px;
    display: grid;
    place-items: center;
}
.cube {
    animation: cube-rotation 2s infinite;
}
.cube-faces {
    height: 80px;
    width: 80px;
    transform: translateX(0) translateY(0) translateZ(-40px);
}
.cube-face {
    position: absolute;
    inset: 0;
    background: var(--main-bg);
    border: solid 1px var(--main-accent);
}
.cube-face.top {
    transform: translateZ(80px);
}
.cube-face.front {
    transform-origin: 0 50%;
    transform: rotateY(-90deg);
}
.cube-face.back {
    transform-origin: 0 50%;
    transform: rotateY(-90deg) translateZ(-80px);
}
.cube-face.right {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px);
}
.cube-face.left {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px) translateZ(80px);
}
@keyframes cube-rotation {
    0% {
        transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
        animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
   }
    50% {
        transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
        animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
   }
    100% {
        transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
        animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
   }
}